@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Add css variables here as well for light mode in addition to tailwind.config to avoid FOUC
*/
:root {
  /* background */

  --ttbs-bg-emphasis: #e5e7eb;
  --ttbs-bg: white;
  --ttbs-bg-subtle: #f3f4f6;
  --ttbs-bg-muted: #f9fafb;
  --ttbs-bg-inverted: #111827;

  /* background -> components*/
  --ttbs-bg-info: #dee9fc;
  --ttbs-bg-success: #e2fbe8;
  --ttbs-bg-attention: #fceed8;
  --ttbs-bg-error: #f9e3e2;
  --ttbs-bg-dark-error: #752522;

  /* Borders */
  --ttbs-border-emphasis: #9ca3af;
  --ttbs-border: #d1d5db;
  --ttbs-border-subtle: #e5e7eb;
  --ttbs-border-booker: #e5e7eb;
  --ttbs-border-muted: #f3f4f6;
  --ttbs-border-error: #aa2e26;
  --ttbs-border-attention: #73321b;

  /* Content/Text */
  --ttbs-text-emphasis: #111827;
  --ttbs-text: #374151;
  --ttbs-text-subtle: #f8f9fa;
  --ttbs-text-muted: #9ca3af;
  --ttbs-text-inverted: white;

  /* Content/Text -> components */
  --ttbs-text-info: #253985;
  --ttbs-text-success: #285231;
  --ttbs-text-attention: #73321b;
  --ttbs-text-error: #752522;

  /* Brand shinanigans
      -> These will be computed for the users theme at runtime.
    */
  --ttbs-brand: #b57617;
  --ttbs-brand-emphasis: #a26a14;
  --ttbs-brand-text: white;
}
.dark {
  /* background */

  --ttbs-bg-emphasis: #2b2b2b;
  --ttbs-bg: #101010;
  --ttbs-bg-subtle: #2b2b2b;
  --ttbs-bg-muted: #1c1c1c;
  --ttbs-bg-inverted: #f3f4f6;

  /* background -> components*/
  --ttbs-bg-info: #263fa9;
  --ttbs-bg-success: #306339;
  --ttbs-bg-attention: #8e3b1f;
  --ttbs-bg-error: #8c2822;
  --ttbs-bg-dark-error: #752522;

  /* Borders */
  --ttbs-border-emphasis: #575757;
  --ttbs-border: #444444;
  --ttbs-border-subtle: #2b2b2b;
  --ttbs-border-booker: #2b2b2b;
  --ttbs-border-muted: #1c1c1c;
  --ttbs-border-error: #aa2e26;

  /* Content/Text */
  --ttbs-text-emphasis: #f3f4f6;
  --ttbs-text: #d6d6d6;
  --ttbs-text-subtle: #a5a5a5;
  --ttbs-text-muted: #575757;
  --ttbs-text-inverted: #101010;

  /* Content/Text -> components */
  --ttbs-text-info: #dee9fc;
  --ttbs-text-success: #e2fbe8;
  --ttbs-text-attention: #fceed8;
  --ttbs-text-error: #f9e3e2;

  /* Brand shenanigans
      -> These will be computed for the users theme at runtime.
    */
  --ttbs-brand: white;
  --ttbs-brand-emphasis: #e1e1e1;
  --ttbs-brand-text: black;
}

@layer base {
  * {
    @apply border-default;
  }
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  margin: 60px auto;
  position: relative;
  border-width: 4px;
  border-style: solid;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
}

.no-ring-inset {
  --tw-ring-inset: unset;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* animations */
.slideInBottom {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideInBottom;
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(30%);
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

/* animations */
.slideInTop {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideInTop;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
  }
}

.fadeIn {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-date-picker .react-date-picker__wrapper {
  padding: 0.25rem 0.75rem;
}

html {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
body {
  flex-grow: 1;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color); */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  /* background: var(--scroll-bar-bg-color); */
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--scroll-bar-color); */
  border-radius: 20px;
  /* border: 3px solid var(--scroll-bar-bg-color); */
}
